
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        

            
           
              
            <ul>
                <li>
                  <a href = "">
                    <tr>
                       <td class="col-xs-8">{{flight.rate}}</td>  
                       <td class="col-xs-8">{{flight.arrivalTime}}</td>
                       <td class="col-xs-8">{{flight.departureTime}}</td>
                       <td class="col-xs-8">{{flight.flightNum}}</td>
                    </tr>
                  </a>
                </li>
            </ul>
           
            
          </tbody>
        </table>
      </div>
  </div>
</div>