
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        
            {{error}}
            {% if flights%}
            <h1>Select a flight from the below list</h1>
            {%endif%}

            {% for flight in flights%}
              
            <ul>
                <li>
                  <a href = '/airline/{{flight.flightNum}}/'>
                    <tr>
                       <td class="col-xs-8">Price: &#8377 {{flight.rate}}</td>  <br>
                       <td class="col-xs-8">Arrival Details: {{flight.arrivalTime}}</td><br>
                       <td class="col-xs-8">Departure Details: {{flight.departureTime}}</td><br>
                       <td class="col-xs-8">Flight Number: {{flight.flightNum}}</td><br>
                    </tr>
                  </a>
                </li>
            </ul>
            {% endfor %}

            
          </tbody>
        </table>
      </div>
  </div>
</div>